<a href="https://colab.research.google.com/github/DataSciLearner/PythonPractice/blob/master/Python_lambda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Every anonymous function you define in Python will have 3 essential parts:

. The lambda keyword.
. The parameters (or bound variables), and
. The function body.

A lambda function can have any number of parameters, but the function body can only contain one expression.

## Bibliography
https://www.guru99.com/python-lambda-function.html

https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/
https://www.geeksforgeeks.org/lambda-filter-python-examples/
https://www.geeksforgeeks.org/overuse-of-lambda-expressions-in-python/

## Lambda with two parameters

In [0]:
adder = lambda x, y : x + y
print(adder(1,2))

3

### Code Explanation:

Code Explanation
Here, we define a variable that will hold the result returned by the lambda function.

1. The lambda keyword used to define an anonymous function.

2. x and y are the parameters that we pass to the lambda function.

3. This is the body of the function, which adds the 2 parameters we passed. Notice that it is a single expression. You cannot write multiple statements in the body of a lambda function.

4. We call the function and print the returned value.

Note: Lambda itself returns a function object

In [0]:
(lambda x: x + x) (2)

4

## Lambda and print string

In [0]:
#What a lambda returns
string='some kind of a useless lambda'
print(lambda string : print(string))

<function <lambda> at 0x7fee5d251620>

In [0]:
#What a lambda returns #2
x="some kind of a useless lambda"
(lambda x : print(x))(x)

some kind of a useless lambda

### Code Explanation:

Code Explanation

Here is the same string we defined in the previous example.
In this part, we are defining a lambda and calling it immediately by passing the string as an argument. This is something called an IIFE

## Lambda functions and regular functions

In [0]:
#A REGULAR FUNCTION
def guru( funct, *args ):
  funct( *args )
def printer_one( arg ):
  return print (arg)
def printer_two( arg ):
  print(arg)
#CALL A REGULAR FUNCTION 
guru( printer_one, 'printer 1 REGULAR CALL' )
guru( printer_two, 'printer 2 REGULAR CALL \n' )
#CALL A REGULAR FUNCTION THRU A LAMBDA
guru(lambda: printer_one('printer 1 LAMBDA CALL'))
guru(lambda: printer_two('printer 2 LAMBDA CALL'))

printer 1 REGULAR CALL
printer 2 REGULAR CALL

printer 1 LAMBDA CALL
printer 2 LAMBDA CALL

### Code Explanation:

Code Explanation

1. A function called guru that takes another function as the first parameter and any other arguments following it.
2. printer_one is a simple function which prints the parameter passed to it and returns it.
3. printer_two is similar to printer_one but without the return statement.
4. In this part, we are calling the guru function and passing the printer functions and a string as parameters.
5. This is the syntax to achieve the fourth step (i.e., calling the guru function) but using lambdas.

## Lambdas in filter

The elements which will be selected is based on some pre-defined constraint. It takes 2 parameters:

1. A function that defines the filtering constraint
2. A sequence (any iterator like lists, tuples, etc.)

In [0]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter(lambda x: x > 4, sequences)
print(list(filtered_result))

[10, 8, 7, 5, 11]

### Code Explanation:

Code Explanation:

1. In the first statement, we define a list called sequences which contains some numbers.

2. Here, we declare a variable called filtered_result, which will store the filtered values returned by the filter() function.

3. A lambda function which runs on each element of the list and returns true if it is greater than 4.

4. Print the result returned by the filter function.

## Filter for the even numbers

In [0]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x % 2 == 0), my_list))
print(new_list)

[4, 6, 8, 12]

## Lambdas with map

In [0]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: (x % 2 == 0), my_list))
print(new_list)

[False, False, True, True, True, False, False, True]

### Program to double each item in the list

In [0]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: (x * 2), my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

## Program to square each item in the list

In [0]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map (lambda x: x*x, sequences) 
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

## Lambda with reduce

The reduce function, like map(), is used to apply an operation to every element in a sequence. However, it differs from the map in its working. These are the steps followed by the reduce() function to compute an output:

Step 1) Perform the defined operation on the first 2 elements of the sequence.

Step 2) Save this result

Step 3) Perform the operation with the saved result and the next element in the sequence.

Step 4) Repeat until no more elements are left.

In [0]:
from functools import reduce
sequences = [1,2,3,4,5]
product = reduce(lambda x, y: x * y, sequences)
print(product)

120

## To sort using Lambda

### In place

In [4]:
lis = [ 1,23,4,5,2,7,8,45,23,1,5,3,8]
lis.sort(key = lambda x: x, reverse = True)
print(lis)

[45, 23, 23, 8, 8, 7, 5, 5, 4, 3, 2, 1, 1]

## To sort nested lists using lambda

In [5]:
a = [(1, 2), (4, 1), (9, 10), (13, -3)]
a.sort(key = lambda x: x[1])
print(a)

[(13, -3), (4, 1), (1, 2), (9, 10)]

## Parallel sorting of lists

## Sorting a list of tuples by second item

In [6]:
# List of tuples i.e. word and its frequency count    
wordFreq = [ ('the' , 34) , ('at' , 23), ('should' , 1) , ('from' , 3) ]

wordFreq.sort(key = lambda x: x[1])
print(wordFreq)

[('should', 1), ('from', 3), ('at', 23), ('the', 34)]

## Sort dictionary by value

In [7]:
ages = {'billy':16,'anna':17,'joe':15,'kelly':19}
sorted(ages.items(),key=lambda x:x[1])

[('joe', 15), ('billy', 16), ('anna', 17), ('kelly', 19)]

.items() returns a list of all key-value pairs as tuples, and the lambda function tells it to sort by the second item in each tuple, i.e. the value.

### Combining it with a dictionary comprehension

In [14]:
ages = {'billy':16,'anna':17,'joe':15,'kelly':19}
{k: v for k,v in sorted(ages.items(),key=lambda x:x[1])}

##This is giving WRONG answer. NOt sure why. Check it later.

{'anna': 17, 'billy': 16, 'joe': 15, 'kelly': 19}

# Tasks

## Find numbers divisible by 13

In [0]:
# Take a list of numbers.  
my_list = [12, 65, 54, 39, 102, 339, 221, 50, 70, ] 

result = list(filter(lambda x: (x % 13 == 0), my_list))

print(result)

[65, 39, 221]

## Given a list of strings, find all palindromes.

In [0]:
my_list = ["geeks", "geeg", "keek", "practice", "aa"] 

# use anonymous function to filter palindromes. 
result = list(filter(lambda x: (x == "".join(reversed(x))), my_list))
print(result)

['geeg', 'keek', 'aa']

### Code step by step

In [0]:
reversed("geek")

In [0]:
"".join(reversed("geek"))

'keeg'

In [0]:
lambda x: (x == "".join(reversed(x))), ["geek"]

(<function __main__.<lambda>>, ['geek'])

In [0]:
lambda x: (x == "".join(reversed(x))), ["geek", "keek"]

(<function __main__.<lambda>>, ['geek', 'keek'])

In [0]:
filter(lambda x: (x == "".join(reversed(x))), ["geek", "keek"])

In [0]:
list(filter(lambda x: (x == "".join(reversed(x))), ["geek", "keek"]))

['keek']

## Given a list of strings and a string str, print all anagrams of str

In [0]:
from collections import Counter 
  
my_list = ["geeks", "geeg", "keegs", "practice", "aa"] 
str = "eegsk"

# use anonymous function to filter anagrams of x.
result = list(filter(lambda x: (Counter(str) == Counter(x)), my_list))
print(result)

['geeks', 'keegs']

## Sort dictionaries by values using lambda

In [0]:
# Initializing list of dictionaries 
lis = [{ "name" : "Nandini", "age" : 20},  
{ "name" : "Manjeet", "age" : 20 }, 
{ "name" : "Nikhil" , "age" : 19 }] 

print("The list sorted by age:")
print(sorted(lis, key = lambda i: i['age']))

The list sorted by age:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]

In [0]:
# sorted by age and name

print("Sort by age and name")
print(sorted(lis, key = lambda i: (i['age'], i['name'])))

Sort by age and name
[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 20}]

In [0]:
# sort by age in descending order

print(sorted(lis, key = lambda i: i['age'], reverse = True))

[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nikhil', 'age': 19}]

## Find sum of a list

In [0]:
import functools
lis = [1,3,5,6,2,1]

print(functools.reduce(lambda a,b: a+b, lis))

## Find maximum element in a list

In [0]:
import functools
lis = [1,3,5,6,2,1]

print(functools.reduce(lambda a,b: a if a > b else b, lis))

6