#### Get the first letter of each word from a list

In [1]:
# Get the first letter of each word from a list

# a list of the names of popular authors
authors = ["Ernest Hemingway","Langston Hughes","Frank Herbert","Toni Morrison",
    "Emily Dickson","Stephen King"]

# create an acronym from the first letter of the author's names
letters = [ name[0] for name in authors ]
print(letters)

['E', 'L', 'F', 'T', 'E', 'S']

### Seperate the characters in a string

In [2]:
# Seperating the characters in a string

mystr = "This is a rose."

[letter for letter in mystr]

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'r', 'o', 's', 'e', '.']

#### Change the case in a String

In [3]:
# Change to lowercase
[letter.lower() for letter in ["CAT", "B", "D"]]

['cat', 'b', 'd']

In [4]:
# Change to uppercase
[letter.upper() for letter in ["monkey", "horse"]]

['MONKEY', 'HORSE']

#### Print only numbers from a string

In [13]:
# Print only numbers from a string

# user data entered as name and phone number
user_data = "Elvis Presley 987-654-3210"

phone = [x for x in user_data if x.isdigit()]
print("".join(phone))

9876543210