<a href="https://colab.research.google.com/github/DataSciLearner/PythonPractice/blob/master/Python_zip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Bibliography
https://www.programiz.com/python-programming/methods/built-in/zip
geeksforgeeks.org/zip-in-python/

## Zip with variable number of iterables

In [5]:
# When no iterables are passed

result = zip()
print(result)
# Converting this iterator into a list
print(list(result))

<zip object at 0x7fd46ff96dc8>
[]

In [4]:
# When one iterable is passed
nums = [1,2,3]
print(zip(nums))
print(list(zip(nums)))

<zip object at 0x7fd46ff961c8>
[(1,), (2,), (3,)]

In [3]:
# When two iterables are passed

nums = [1,3,4]
strs = ['one', 'three', 'four']
result = zip(nums, strs)
print(result)

result_list = list(result)
print(result_list)

<zip object at 0x7fd46ff96908>
[(1, 'one'), (3, 'three'), (4, 'four')]

In [6]:
# If the two iterables are of unequal length

nums = [1,3,4,6,7,8]
strs = ['one', 'three', 'four']
result = zip(nums, strs)
print(result)
print(list(result))

<zip object at 0x7fd46ff96608>
[(1, 'one'), (3, 'three'), (4, 'four')]

the returned iterator will contain three tuples. It's because iterator stops when the shortest iterable is exhausted.

In [7]:
numbersList = [1, 2, 3]
str_list = ['one', 'two']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

print(list(zip(numbersList, str_list, numbers_tuple)))

[(1, 'one', 'ONE'), (2, 'two', 'TWO')]

## Unzipping the value

In [8]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = list(zip(coordinate, value))
print(result)

#unzipping
c,v = zip(*result)
print("c is {}, v is {}".format(c,v))

[('x', 3), ('y', 4), ('z', 5)]
c is ('x', 'y', 'z'), v is (3, 4, 5)

## Using set for the zipped items

In [9]:
# initializing lists 
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 

# using zip() to map values 
mapped = zip(name, roll_no, marks) 

# converting values to print as set 
mapped = set(mapped) 

print(mapped)

{('Astha', 2, 70), ('Shambhavi', 3, 60), ('Nikhil', 1, 50), ('Manjeet', 4, 40)}